:root {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #181818;
    color: #66c2bb;
}

.center {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}

.top-left {
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 32px;
}

.bottom-right {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.text-center {
    text-align: center;
}

.pfp {
    clip-path: circle();
    max-width: 150px;
}

.list {
    display: inline-block;
    text-align: left;
    padding: 0;
    margin: 0;
}

.list li {
    margin: 0.5em 0;
}

a:link {
    color: #E29AB1;
}

a:visited {
    color: #E29AB1;
}

a:hover {
    color: white;
}

a:active {
    color: maroon;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

::selection {
    color: #181818;
    background: white;
}

code {
    color: white;
}